    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'IBM+Plex+Sans';
    }

    body {
        background-color: rgb(239, 239, 239);
    }

    html {
        scroll-behavior: smooth;
    }

    /*SECCION INICIO*/
    #inicio {
        background: linear-gradient(rgb(239, 239, 239), rgb(239, 239, 239));
        background-size: cover;
        background-position: center center;
        height: 100vh;
        background-attachment: fixed;
    }

    #inicio .contenido header {
        background-color: rgba(0, 0, 0, .8);
        position: fixed;
        width: 100%;
        z-index: 100;
        top: 0;
    }

    #inicio .contenido header .contenido-header {
        max-width: 1100px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    #inicio .contenido header .contenido-header nav ul {
        list-style: none;
        display: flex;
        align-items: center;
    }

    #inicio .contenido header .contenido-header nav ul li a {
        text-decoration: none;
        color: #fff;
        margin: 0 12px;
        font-weight: 400;
        transition: .5s;
    }

    #inicio .contenido header .contenido-header nav ul a:hover {
        color: #de260efe;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-direction: column;
    }
    
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      nav ul li {
        display: inline-block;
        position: relative;
        margin: 5px 0;
      }

    nav ul li a {
        display: block;
        padding: 10px;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    nav ul li:hover>ul {
        display: block;
    }


    nav ul ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgb(0, 0, 0);
        border: 1px solid rgb(0, 0, 0);
        border-top: none;
        /* añadir un borde superior para separar del menú principal */
        z-index: 9999;
        transition: opacity 0.3s ease-in-out;
    }

    nav ul ul li {
        display: block;
        border-bottom: 1px solid rgb(0, 0, 0);
        /* añadir un borde inferior a cada elemento */
    }

    nav ul ul li:last-child {
        border-bottom: none;
        /* eliminar el borde inferior del último elemento */
    }

    nav ul ul li:last-child {
        border-bottom: none;
        /* eliminar el borde inferior del último elemento */
    }

    nav ul ul li a {
        display: block;
        padding: 10px;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    nav ul ul li a:hover {
        background-color: #de260efe;
        transition: none;
    }

    #inicio .presentacion .contenido .titulo-seccion{
        display: block;
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    #inicio .contenido .presentacion {
        max-width: 65%;
        margin: 5em;
        color: #000000;
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        background-color: #fff;
        padding: 1rem;
        border-radius: 0.5rem;
        border:#b4b3b3 2px solid;
    }

    #inicio .contenido .presentacion .contenido {
        margin: 1em;
        margin-top: 1em;
    }

    #inicio .contenido .presentacion .bienvenida {
        font-size: 16px;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    #inicio .contenido .presentacion h2 {
        font-size: 55px;
        margin-bottom: 25px;
        text-align: center;
    }

    #inicio .contenido .presentacion h2 span {
        font-size: 80px;
        color: #de260efe;
    }

    #presentacion .contenido {
        background-color: #f2f2f2;
        padding: 20px;
        border-radius: 10px;
      }
      
      .contenido p {
        font-size: 18px;
        line-height: 1.5;
        color: #333;
        margin-bottom: 20px;
        
      }

    #inicio .contenido .presentacion .descripcion {
        max-width: 700px;
        margin: 25px auto;
        font-size: 18px;
        text-align: center;
    }



    #icono-nav {
        color: #fff;
        display: none;
    }

    /*SECCION SERVICIOS*/
    #servicio {
        padding: 100px 15 px;
        text-align: center;
    }

    h1 {
        font-size: 40px;
        text-transform: uppercase;
        color: #111135;
        text-decoration-color: #d3d3d3;
        text-decoration-thickness: 5px;
    }

    #servicio .fila {
        display: flex;
        justify-content: space-between;
        max-width: 1100px;
        margin: 30px;
    }

    #servicio .fila .servicio {
        max-width: 350px;
        background-color: #000000;
        padding: 100px;
        margin: 0 5px;
        border-radius: 5px;
        transition: .5s;
        width: 500px;
    }

    #servicio .fila .servicio:hover {
        box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
    }

    #servicio .fila .servicio h4 {
        font-size: 22px;
        margin-bottom: 25px;
    }

    #servicio .fila .servicio .icono {
        display: inline-block;
        background-color: #d3d3d3;
        padding: 2px;
    }

    #servicio .fila .servicio .icono img {
        display: block;
        margin: auto;
        max-width: 100%;
    }

    #servicio .fila .servicio hr {
        width: 30%;
        margin: auto;
        color: #000;
        margin-bottom: 25px;
    }

    #servicio .fila .servicio ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    #servicio .fila .servicio p {
        font-size: 14px;
        line-height: 22px;
    }

    #inicio .contenido .presentacion .imagen {
        max-width: 100%;

    }

    #inicio .contenido .lista{
        float: right;
        clear: both;
        width: 300px;
        margin: 0 0 30px 30px;
        padding: 20px;
        background-color: #f7f7f7;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        position: absolute;
        top: 185px;
        left: 920px;
    }
    .lista ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    .lista ul li {
        margin-bottom: 10px;
    }

    .lista ul li a {
    
        display: block;
        padding: 5px 0;
        color: #333;
        text-decoration: none;
        transition: all 0.3s ease;
    }
    .lista ul li img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-bottom: 10px;
      }

    .lista ul li a:hover {
        color: #007bff;
    }
    .lista{
        border-top: 5px solid #de260efe;
        float: right;
      }

      #inicio .contenido .lista1{
        float: right;
        clear: both;
        width: 300px;
        margin: 0 0 30px 30px;
        padding: 20px;
        background-color: d3d3d3;
        border-radius: 5px;
        position: absolute;
        top: 82px;
        left: 920px;
    }
    .lista1 ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
    .lista1 ul li {
        font-size: 20px;
        color: #de260efe;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-bottom: 10px;
    }

    .lista1{
        border-top: 5px solid #de260efe;
        float: right;
      }



    #inicio .contenido .listaa{
        float: right;
        clear: both;
        width: 300px;
        margin: 0 0 30px 30px;
        padding: 20px;
        background-color: rgb(239, 239, 239);
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        position: absolute;
        top: 550px;
        left: 920px;
    }
    .listaa ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    .listaa ul li {
        margin-bottom: 10px;
    }

    .listaa ul li a {
    
        display: block;
        padding: 5px 0;
        color: #333;
        text-decoration: none;
        transition: all 0.3s ease;
    }
    .listaa ul li img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-bottom: 10px;
      }
    .listaa ul li a:hover {
        color: #007bff;
    }
    #inicio .contenido .listaa{
        border-top: 5px solid #de260efe;
        float: right;
    }

      @media only screen and (max-width: 600px) {
        header {
          flex-direction: column;
          align-items: center;
        }
        
        .contenido {
            display: flex;
            flex-direction: column;
          }

        .clear {
            clear: both;
            display: block;
        }

        .presentacion {
          flex-direction: column;
          margin-top: 0.5rem;
        }
      
        .presentacion .imagen {
          width: 100%;
          margin-right: 0;
          margin-bottom: 1rem;
        }

        .presentacion .contenido {
          width: 100%;
          margin: 1rem;
        }
      
        #inicio .contenido .lista{
        float: right;
        clear: both;
        width: 300px;
        margin: 0 0 30px 30px;
        padding: 20px;
        background-color: #f7f7f7;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        position: absolute;
        top: 185px;
        left: 920px;
    }
    .lista ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    .lista ul li {
        margin-bottom: 10px;
    }

    .lista ul li a {
    
        display: block;
        padding: 5px 0;
        color: #333;
        text-decoration: none;
        transition: all 0.3s ease;
    }
    .lista ul li img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-bottom: 10px;
      }

    .lista ul li a:hover {
        color: #007bff;
    }
    .lista{
        border-top: 5px solid #de260efe;
        float: none;
      }

      #inicio .contenido .lista1{
        float: none;
        clear: none;
        width: 300px;
        margin: 0 0 30px 30px;
        padding: 20px;
        background-color: d3d3d3;
        border-radius: 5px;
        position: absolute;
        top: 82px;
        left: 920px;
    }
    .lista1 ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
    .lista1 ul li {
        font-size: 20px;
        color: #de260efe;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-bottom: 10px;
    }

    .lista1{
        border-top: 5px solid #de260efe;
        float: none;
      }



    #inicio .contenido .listaa{
        float: none;
        clear: both;
        width: 300px;
        margin: 0 0 30px 30px;
        padding: 20px;
        background-color: rgb(239, 239, 239);
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        position: absolute;
        top: 550px;
        left: 920px;
    }
    .listaa ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    .listaa ul li {
        margin-bottom: 10px;
    }

    .listaa ul li a {
    
        display: block;
        padding: 5px 0;
        color: #333;
        text-decoration: none;
        transition: all 0.3s ease;
    }
    .listaa ul li img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-bottom: 10px;
      }
    .listaa ul li a:hover {
        color: #007bff;
    }
    #inicio .contenido .listaa{
        border-top: 5px solid #de260efe;
        float: none;
    }
      }